@charset "utf-8";

@font-face {
  font-family: "OpenSans-Bold";
  src: url("/task1/fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("/task1/fonts/OpenSans-ExtraBold.ttf");
}

@font-face {
  font-family: "OpenSans-Medium";
  src: url("/task1/fonts/OpenSans-Medium.ttf");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("/task1/fonts/OpenSans-Light.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

body {
  background: #e8d6c8;
}

.wrapper {
  overflow: hidden;
}

._container {
  width: 100%;
  max-width: 1170px;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

/*--------------------------HEADER------------------------------------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.header_logo {
  background: #da4271;
  font-family: "OpenSans-ExtraBold";
  font-size: 26pt;
  line-height: auto;
  color: #fff;
  box-shadow: 10px 10px #cbbbae;
  padding: 20px 14px;
}

.header_menu {
  display: flex;
  flex-wrap: wrap;
}

.header_menu > * {
  margin: 52px 0;
}

.menu_item {
  font-family: "OpenSans-Light";
  font-size: 14pt;
  line-height: auto;
  padding: 25px 15px;
  border: 1px groove #f5ece5;
}

.menu_item a {
  color: #6c354c;
}

.active a {
  color: #dc5e81;
}
